/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,600;1,700&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body {
    font-family: "Proza Libre", sans-serif;
}

/* ------------------------------------------------------ Header */

.navbar {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c4ddf2cc;
}

/* ---------- Logo */

.logo img {
    height: 90px;
    width: 90px;
    border: 1.5px solid #bf9075;
    border-radius: 50%;
}

.logo {
    font-family: "Cormorant Garamont", sans-serif;
    font-weight: 700;
}

@media (max-width: 767px) {
    .logo span {
        font-weight: 500;
        color: #c7530f;
    }
}

@media (max-width: 375px) {
    .logo img {
        height: 70px;
        width: 70px;
    }

    .logo span {
        font-size: 16px;
    }
}

/* ---------- Navigation Menu */

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c7530f;
}

.navbar-light .navbar-nav .active a {
    color: #c7530f;
    
}

/* .navbar-light .navbar-nav .nav-link {
    text-align: right;
    background-color: #bf9075;
    color: #fafafa;
} */

/* ------------------------------------------------------ Footer */

footer {
    padding: 12px 12px 12px 12px;
    background-color: #c4ddf2cc;
}

footer div {
    display: inline-block;
}

.footer-containers {
    width: 32%;
    font-size: 0.7rem;
    text-align: center;
    vertical-align: middle;
}

/* ---------- Button */

.btn {
    padding: 0;
}

.btn-outline-warning {
    background-color: #c7530f;
    border-color: black;
}

.btn-outline-warning:active {
    background-color: #c7530f;
    border-color: black;
}

.btn-outline-warning:hover {
    background-color: #fafafa;
    border: 2px solid;
    border-color: #c7530f;
}

.getintouch a {
    padding: 6px 15px 5px 15px;
    color: #fafafa;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.getintouch a:active {
    color: black;
}

.getintouch a:hover {
    color: black;
}

/*Responsive Button to fit on one line on very small screens.  */

@media (max-width: 380px) {
    .footer-containers button {
        max-width: 95px;
    }
    .getintouch a {
        padding-left: 2px;
        padding-right: 2px;        
    }
}

/* ---------- Copyright */

#copyright {
    padding: 2px 2px;
    background-color: #c4ddf2;
    border-radius: 3px;

}

@media (max-width: 540px) {
    #copyright {
        font-size: 0.5rem;
        font-weight: bold;
    }
}

@media (max-width: 280px) {
    .footer-containers .social-links, #copyright, .getintouch a {
        font-size: 0.7em;
    }   
}

/* ---------- social Media */

.social-links {
    margin: 0;
}

.social-links i {
    color: black;
    font-size: 16px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #c4ddf280;
    line-height: 24px;
    text-align: center;
}

.social-links i:hover {
    color: #c7530f;
}


/* -------------------------------------------------------------------------------- Common Styles */

/* h3 titles */

.home-heading h1,
.about-us h3,
.testimonies h3,
.activities-sections h3,
.tips-titles h3 span {
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #bf9075;
    text-align: center;
    letter-spacing: 3px;
 }

 /* Credit to George Dimitriadis https://stackoverflow.com/questions/23968961/css-how-can-i-make-a-font-readable-over-any-color 
for the following css to make text more readable.*/

.home-heading h1,
.about-us h3,
.testimonies h3,
.activities-sections h3,
.tips-titles h3 span {
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

.testimonies h3,
.about-us h3,
.activities-sections h3 {
    background-color: #fafafa80;
}

/* Content's Font */

.about-us p,
.testimonies p,
.activities-sections .skills-practice-content,
.activities-sections p,
.tips-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.home-headlines p,
.about-us p,
.activities-sections .skills-practice-content,
.activities-sections p {
    padding: 16px;
    border: 1px solid #736640;
    border-radius: 25px;
    background-color: #84a9d9e6;
}

.testimony-sections p,
.quotes {
    font-size: 14px;
    padding: 16px;
    border: 6px outset #736640;
    border-radius: 16px;
    background-color: #84a9d9e6;
}

/* -------------------------------------------------------------------------------- Home Page */

.home-wrapper {
    height: 100vh;
    background: #84a9d9 url("../images/background/brandon-hike.jpg") top center no-repeat;
    background-size: cover;
}

.home-wrapper .row {
    height: 30vh;
}

.home-heading {
    padding-top: 178px;
}

.home-heading h1 {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}

@media (max-width: 768px) {
    .home-heading h1 {
        font-size: 30px;
        font-weight: 500;
    }
}

@media (max-width: 425px) {
    .home-heading h1 {
        font-size: 20px;
        font-weight: 400;
    }
}

@media (max-width: 375px) {
    .home-heading {
        padding-top: 148px;
    }
}

/* Headlines */

.home-headlines {
    padding-top: 100px;
}

.home-headlines div {
    padding: 10px;
}

.home-headlines p {
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

@media (max-width: 1105px) {
    .home-headlines p {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .home-headlines p {
        padding: 8px;
    }
}


@media (max-width: 425px) {
    .home-headlines {
    padding-top: 40px;
    }

    .home-headlines p {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .home-headlines p {
        width: 80%;
    }
}

/* Button */

.home-callout {
    text-align: center;
}

.home-callout .btn {
    padding: 0;
    border-width: 4px;
    border-style: outset;
    background-color: #fafafae6;
}

.home-callout .btn:hover {
    background-color: #fafafa;
}

.home-callout .btn a {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 6px 14px 7px 14px;
}

.home-callout .btn a:hover {
    color: #198754;
}

@media (max-width: 576px) {
    .home-callout .btn a {
        font-size: 14px;
    }
}


/* -------------------------------------------------------------------------------- The Club */

/* Photo by Ben Maxwell from Prexels 
(https://www.pexels.com/@ben-maxwell-479813?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels) */
.theclub-wrapper { 
    background: #84a9d9 url("../images/background/club-hike.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.theclub-wrapper > .row {
    padding-top: 161px;
    padding-bottom: 50px;
}

.about-us {
    margin-bottom: 32px;
}

.about-us p {
    margin-bottom: 50px;
    padding: 32px;
}

.about-us span {
    color: #c7530f;
    font-weight: bold;
}

.testimony-sections {
    margin: 24px 0;
}

.testimony-sections img {
    margin-bottom: 3px;
    border: 2px solid black;
}

/* -------------------------------------------------------------------------------- Activities */

/* Photo by Baihaki Hine from Pexels 
(https://www.pexels.com/photo/hiker-resting-near-fire-and-tent-during-travelling-4314203/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels)*/
.activities-wrapper {
    height: auto;
    background: #84a9d9 url("../images/background/camping.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Responsive height for the background image to fill up all the available space on bigger screens*/

@media (min-width: 1024px) {
    .activities-wrapper {
        height: 100vh;
    }

    .activities-wrapper .row {
    height: 100%;
    }
}

.activities-wrapper .row {
    padding-top: 161px;
    padding-bottom: 50px;
}

.activities-sections {
    padding-bottom: 60px;
}

.activities-sections .skills-practice-content,
.activities-sections p {
    margin: 0;
}
 
@media (min-width: 758px) {
    .activities-sections .skills-practice-content,
    .activities-sections p {
        min-height: 232px;
    }
}

@media (min-width: 992px) {
    .activities-sections .skills-practice-content,
    .activities-sections p {
        height: 282px;

        /* vertical align code snippet taken from "SJ_OWOW" in 
        https://stackoverflow.com/questions/52378422/how-to-vertically-align-text-within-div-element-css */
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1400px) {
    .activities-sections .skills-practice-content,
    .activities-sections p {
        padding-top: 30px;
    }
} 

/* -------------------------------------------------------------------------------- Gallery */

.gallery-wrapper {
    height: 100vh;
    background: #84a9d9 url("../images/background/dublin-bay.jpg") top right no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.gallery-title {
    height: 20vh;
    padding-top: 160px;
    padding-bottom: 60px;
}

.gallery-title h3 {
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 750px){
    .gallery-title h3 {
        font-size: 14px;    
    }
}

.carousel-outer {
    height: 100%;
    margin-bottom: 55px;
}

.carousel-item img {
    height: auto;
}

#gallery {
    margin-bottom: 55px;
}

/* Modify the position and style of the carousel's elements */
.carousel {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: -60px;
    background-color: black;
}

.carousel-indicators li {
    height: 0.5rem;
    width: 0.8rem;
}

.carousel-controls {
    font-size: 2rem;
    text-decoration: none;
}

.modal button {
    background-color: rgb(209, 20, 20);
}

/* -------------------------------------------------------------------------------- Hiking Tips */

.hikingtips-wrapper {
    height: 2300px;
    background: #84a9d9 url("../images/background/killiney.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Responsive height for the background image to fill up all the available space*/
@media (min-width: 768px) {
    .hikingtips-wrapper {
        height: 1600px;
    }
}

@media (min-width: 992px) {
    .hikingtips-wrapper {
        height: 1400px;
    }
}

@media (min-width: 1200px) {
    .hikingtips-wrapper {
        height: 110vh;
    }
}

.tips-outer-row {
    padding-top: 148px;
    
}

.hikingtips-wrapper .row {
    margin: 0;
}

 .tips-sections {
    padding-bottom: 50px;
 }

 .tips-content {
    padding: 16px;
    border: 1px solid #736640;
    border-radius: 25px;
    background-color: #84a9d9e6;
 }

.tips-titles {
    padding: 0;
    
}

.tips-titles h3 {
    text-align: center;
}

/* ---------- Pdf download icon  */

.tips-titles h3 i {
    font-size: 1.5rem;
    margin-left: 20px;
    color: #717334;

    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fafafae6;
} 

.tips-titles h3 i:hover {
    color: #c7530f;
}

/* ---------- Responsive title and download icon */

@media (max-width: 520px) {
    .tips-titles h3 span {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .tips-titles h3 i {
        font-size: 1.2rem;
        margin-left: 10px;

        height: 1.5rem;
        width: 1.5rem;
    }
}

/* ---------- Extra tips links */

.tips-content a {
    padding: 5px;
    text-decoration: none;
    color: #c4ddf2;
    background-color: rgba(0, 0, 0, 0.8);

    margin: 6px;
    line-height: 33px;
    text-align: center;
}

/* -------------------------------------------------------------------------------- Join Us ! */

.form-wrapper {
    height: 850px;
    background: #84a9d9 url("../images/background/trees.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Responsive height for the background image to fill up all the available space*/
@media (min-width: 768px) {
    .form-wrapper {
        height: 1050px;
    }
}

@media (min-width: 992px) {
    .form-wrapper {
        height: 900px;
    }
}

@media (min-width: 1200px) {
    .form-wrapper {
        height: 110vh;
    }
}

.form-wrapper .row {
    height: 100vh;
    padding-top: 128px;
    padding-bottom: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.form-sections {
    margin-top: 20px;
    margin-bottom: 60px;
    /* padding-bottom: 60px; */
}

.quotes {
    text-align: center;
}

/* ---------- Form */

.form {
    padding: 16px;
    background-color: #c4ddf2e6;
    border-radius: 10px;
}

.form h4 {
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    line-height: 1.5rem;
    text-align: center;
}

.form h6 {
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 14px;
    font-weight: 500;

    line-height: 14px;
    text-align: center;
}

.form div {
    padding: 3px;
    margin-top: 16px;
}

.form div label {
    width: 70%;
    margin: auto;
    display: block;

    font-size: 14px;
    font-weight: 500; 
    line-height: 18px;
    text-align: center;
}

.form div textarea,
.form div input {
    width: 80%;
    margin: auto;
    padding: 2px;
    border: black 1px solid;
    border-radius: 10px;
    background-color: #fafafae6;
    display: block;
    font-size: 12px;

}

.form .btn {
    padding: 6px;
    border-width: 4px;
    border-style: outset;
    background-color: #fafafae6;
    color: black;
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 16px;
    font-weight: bold;

    display: block;
    margin: auto;
}

.form .btn:hover {
    background-color: #198754;
    color: #fafafa;
}

@media (max-width: 375px) {
    .form h4 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .form div label {
        font-size: 14px;
    }
}

