/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Proza+Libre:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

body {
    font-family: "Proza Libre", sans-serif;
}

/* ------------------------------------------------------ Header */

.navbar {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c4ddf2cc;
}

/* ---------- Logo */

.logo img {
    height: 90px;
    width: 90px;
    border: 1.5px solid #bf9075;
    border-radius: 50%;
}

.logo {
    font-family: "Cormorant Garamont", sans-serif;
    font-weight: 700;
}

@media (max-width: 767px) {
    .logo span {
        font-weight: 500;
        color: #c7530f;
    }
}

@media (max-width: 375px) {
    .logo img {
        height: 70px;
        width: 70px;
    }

    .logo span {
        font-size: 16px;
    }
}

/* ---------- Navigation Menu */

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c7530f;
}

.navbar-light .navbar-nav .active a {
    color: #c7530f;
    
}

/* .navbar-light .navbar-nav .nav-link {
    text-align: right;
    background-color: #bf9075;
    color: #fafafa;
} */

/* ------------------------------------------------------ Footer */

footer {
    padding: 12px 12px 12px 12px;
    background-color: #c4ddf2cc;
}

footer div {
    display: inline-block;
}

.footer-containers {
    width: 32%;
    font-size: 0.7rem;
    text-align: center;
    vertical-align: middle;
}

/* ---------- Button */

.btn {
    padding: 0;
}

.btn-outline-warning {
    background-color: #c7530f;
    border-color: black;
}

.btn-outline-warning:active {
    background-color: #c7530f;
    border-color: black;
}

.btn-outline-warning:hover {
    background-color: #fafafa;
    border: 2px solid;
    border-color: #c7530f;
}

.getintouch a {
    padding: 6px 15px 5px 15px;
    color: #fafafa;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.getintouch a:active {
    color: black;
}

.getintouch a:hover {
    color: black;
}

/*Responsive Button to fit on one line on very small screens.  */

@media (max-width: 380px) {
    .footer-containers button {
        max-width: 95px;
    }
    .getintouch a {
        padding-left: 2px;
        padding-right: 2px;        
    }
}

/* ---------- Copyright */

#copyright {
    padding: 2px 2px;
    background-color: #c4ddf2;
    border-radius: 3px;

}

@media (max-width: 540px) {
    #copyright {
        font-size: 0.5rem;
        font-weight: bold;
    }
}

@media (max-width: 280px) {
    .footer-containers .social-links, #copyright, .getintouch a {
        font-size: 0.7em;
    }   
}

/* ---------- social Media */

.social-links {
    margin: 0;
}

.social-links i {
    color: black;
    font-size: 16px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #c4ddf280;
    line-height: 24px;
    text-align: center;
}

.social-links i:hover {
    color: #c7530f;
}

/* -------------------------------------------------------------------------------- Home Page */

.home-wrapper {
    height: 100vh;
    background: #bf9075 url("../images/gallery/brandon-hike.jpg") top center no-repeat;
    background-size: cover;
}

.home-wrapper .row {
    height: 50%;
}

.home-heading {
    padding-top: 128px;
}

.home-heading h1 {
    font-family: "Cormorant Garamont", sans-serif;
    color: #84a9d9;
    font-size: 33px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    height: 2em;
    margin: 0;
}

/* Credit to George Dimitriadis https://stackoverflow.com/questions/23968961/css-how-can-i-make-a-font-readable-over-any-color 
for the following css to make text more readable.*/

.home-heading h1 {
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

.home-callout {
    padding-bottom: 50px;
    text-align: center;
}

.home-callout .btn {
    padding: 0;
    border-width: 4px;
    border-style: outset;
    background-color: #fafafab3;
}

.home-callout .btn:hover {
    background-color: #fafafa;
}

.home-callout .btn a {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 6px 14px 7px 14px;
}

.home-callout .btn a:hover {
    color: #198754;
}

/* -------------------------------------------------------------------------------- The Club */

.theclub-wrapper {
    background-image: #bf9075 url("") no-repeat;
}

.theclub-wrapper .row {
    height: 100vh;
    padding-top: 128px;
    padding-bottom: 50px;
    margin: 20px 1rem;
}

.theclub-def {
    padding: 16px;
    border: 1px solid #736640;
    border-radius: 25px;
    background-color: #84a9d980;
    
    margin-bottom: 50px;
}

.theclub-quotes {
    padding-top: 30px;
    padding-bottom: 50px;
}

.theclub-quotes p {
    padding: 16px;
    border: 6px outset #736640;
    border-radius: 16px;
    background-color: #84a9d980;

    text-align: center;
}

.theclub-def p,
.theclub-quotes p {
    font-size: 16px;
    font-weight: 500;
}

/* -------------------------------------------------------------------------------- Activities */

.activities-wrapper {
    background-image: #bf9075 url("") no-repeat;
}

.activities-wrapper .row {
    height: 100vh;
    padding-top: 128px;
    padding-bottom: 50px;
    margin-top: 20px;
}

.activities-sections {
    padding-bottom: 70px;
}

.activities-sections div,
.activities-sections p {
    padding: 16px;
    border: 1px solid #736640;
    border-radius: 25px;
    background-color: #84a9d980;
    
    height: 33vh;
    display: table-cell;
    vertical-align: middle;

    font-size: 16px;
    font-weight: 500;
}

.activities-sections div {
    padding-right: 30px;
}

.activities-sections h3 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 6px;
}

/* -------------------------------------------------------------------------------- Hiking Tips */

.hikingtips-wrapper {
    height: 100vh;
    background-image: #bf9075 url("") no-repeat;
}

.tips-outer-row {
    padding-top: 148px;
    padding-bottom: 70px;
}

.hikingtips-wrapper .row {
    margin: 0;
}

 .tips-sections {
    padding-bottom: 50px;
 }

 .tips-content {
    padding: 16px;
    border: 1px solid #736640;
    border-radius: 25px;
    background-color: #84a9d980;
    
    font-size: 16px;
    font-weight: 500;

    display: table-cell;
    vertical-align: middle;
 }

 @media (min-width: 1200px) {
     .tips-content {
        height: 40vh;
        overflow-y: auto;
        display: block;
     }

     .tips-sections {
         padding-top: 230px;
     }
 }

.tips-titles {
    padding: 0;
    
}

.tips-titles h3 {
    text-align: center;
}

 .tips-titles h3 span {
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
 }

/* ---------- Pdf download icon  */

.tips-titles h3 i {
    font-size: 1.5rem;
    padding-left: 20px;
    color: #717334;
} 

.tips-titles h3 i:hover {
    color: #c7530f;
}

/* ---------- Responsive title and download icon */

@media (max-width: 520px) {
    .tips-titles h3 span {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .tips-titles h3 i {
        font-size: 1rem;
        padding-left: 10px;
    }
}

/* ---------- Extra tips links */

.tips-content a {
    padding: 5px;
    text-decoration: none;
    color: #c4ddf2;
    background-color: rgba(0, 0, 0, 0.8);

    margin: 6px;
    line-height: 33px;
    text-align: center;
}

/* -------------------------------------------------------------------------------- Get in touch! */

.form-wrapper {
    height: 100vh;
    padding: 0;
    background-image: #bf9075 url("") no-repeat;
}

.form-wrapper .row {
    height: 100vh;
    padding-top: 128px;
    padding-bottom: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.form-sections {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.quotes {
    
    padding: 16px;
    border: 6px outset #736640;
    border-radius: 16px;
    background-color: #84a9d980;

    text-align: center;
}

/* ---------- Form */

.form {
    padding: 16px;
    background-color: #c4ddf280;
    border-radius: 10px;
}

.form h4 {
    margin-bottom: 20px;
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    line-height: 2.5rem;
    text-align: center;
}

.form div {
    padding: 3px;
    margin-top: 16px;
}

.form div label {
    width: 70%;
    margin: auto;
    display: block;

    font-size: 18px;
    font-weight: 500; 
    line-height: 18px;
    text-align: center;
}

.form div textarea,
.form div input {
    width: 80%;
    margin: auto;
    padding: 2px;
    border: black 1px solid;
    border-radius: 10px;
    background-color: #fafafa80;
    display: block;
}

.form .btn {
    padding: 6px;
    border-width: 4px;
    border-style: outset;
    background-color: #fafafab3;
    color: black;
    font-size: 20px;
    font-weight: bold;

    display: block;
    margin: auto;
}

.form .btn:hover {
    background-color: #198754;
    color: #fafafa;
}

@media (max-width: 375px) {
    .form h4 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .form div label {
        font-size: 14px;
    }
}

/* -------------------------------------------------------------------------------- Gallery */

.gallery-wrapper {
    height: 100vh;
    background: #bf9075 url("../images/gallery/Catherine-Ryan-cliffs-of-moher.jpg") no-repeat;
    background-size: cover;
     
}

.gallery-title {
    margin-top: 128px;
    padding: 60px;
}

@media (max-width: 375px) {
    .gallery-title {
        margin-top: 108px;
    }
}

.gallery-title h3 {
    font-family: "Cormorant Garamont", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 750px){
    .gallery-title h3 {
        font-size: 14px;    
    }
}

.carousel {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: -60px;
    margin-bottom: 60px;

}

.carousel-indicators li {
    height: 0.5rem;
    width: 0.8rem;
}

.carousel-controls {
    font-size: 2rem;
    text-decoration: none;
}